/* FONTS */
@font-face {
    font-family: roboto-regular;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-medium;
    src: url(./assets/fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-black;
    src: url(./assets/fonts/Roboto-Black.ttf);
}

/* COLORS */
:root {
    --color-primary: #112d4e;
    --color-secondary: #3f72af;
    --color-tertiary: #dbe2ef;
    --color-quaternary: #f9f7f7;
}

/* BODY */
body {
    font-family: roboto-regular;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* HEADER */
.header {
    margin: 1em 0.5em;
}

.header--items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: roboto-black;
    cursor: pointer;
}

.header--items__single {
    padding-bottom: 0.5em;
    font-size: 1em;
}

.header--items__single a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.header--img > img {
    width: 4em;
}

.header--icon {
    font-size: 1.4em;
}

.header--text {
    border-bottom: 0.2em solid #fff;
}

.header--text:hover {
    border-bottom: 0.2em solid var(--color-primary);
}

@media only screen and (min-width: 501px) {
    .header {
        margin: 1em;
    }
    .header--img > img {
        width: 5em;
    }
    .header--items {
        text-transform: uppercase;
    }
    .header--items__single {
        font-size: 0.9em;
    }
    .header--icon {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 780px) {
    .header {
        margin: 1em 3.5em;
    }
    .header--img > img {
        width: 6em;
    }
    .header--items {
        text-transform: uppercase;
    }
    .header--items__single {
        font-size: 1em;
    }
    .header--icon {
        font-size: 1.7em;
    }
}

/* BANNER */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/images/banner-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 12em;
    width: 100%;
}

.banner--text {
    color: #fff;
    text-transform: capitalize;
    font-family: roboto-bold;
    width: 70%;
    text-align: center;
}

@media screen and (min-width: 780px) {
    .banner {
        height: 15em;
    }
    .banner--text {
        width: 60%;
    }
}

/* ARTICLES */
.articleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.article {
	position: relative;
    display: flex;
    flex-direction: column;
    height: 25em;
    width: 95%;
    border-radius: 20px 20px 5px 5px;
    box-shadow: 0px 11px 22px -7px #000000;
	cursor: pointer;
}

.article:hover {
	box-shadow: 7px 11px 22px -7px #000000;
}

.article--outofstock {
	position: absolute;
	display: block;
	border: 1px solid rgb(130, 129, 129);
	padding: .3em ;
	right: .5em;
	top: .5em;
	border-radius: 5px;
	color: rgb(91, 91, 91);
}

.article--image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
}

.article--image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article--body {
    position: relative;
    height: 35%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 1em 1em 0.5em 1em;
    border-radius: 0px 0px 5px 5px;
}

.article--title {
    font-family: roboto-black;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.article--description {
    font-family: roboto-regular;
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0.8em;
}

.article--rating {
    display: flex;
    gap: 0.2em;
    margin-bottom: 0.8em;
}

.article--rating__stars {
    font-size: 1.1em;
    display: flex;
    gap: 0.2em;
}

.article--rating__total {
    font-size: 1em;
	margin-top: 0.1em;
}

.article--price {
    font-family: roboto-black;
    font-size: 1.1em;
}

.article--cta {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    display: block;
    text-align: center;
    border: 2px solid var(--color-quaternary);
    width: 7em;
    padding: 0.4em;
    text-decoration: none;
    color: var(--color-quaternary);
    text-transform: uppercase;
    border-radius: 5px;
    font-family: roboto-black;
}

.kona-bike h1 {
    color: black;
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 2em;
    font-family: roboto-bold;
    margin: 20px;
}

.kona-info h2 {
    color: black;
    font-weight: bold;
    text-align: start;
    font-family: roboto-bold;
    margin: 40px;
    font-size: 1em;
}

.kona-info h3 {
    color: black;
    font-weight: bold;
    text-align: start;
    font-family: roboto-bold;
    margin: 20px;
    font-size: 1em;
}

.kona-info p {
    color: black;
    text-align: justify;
    margin: 20px;
}

.kona-info ul {
    list-style-type: disc;
    margin: 40px;
}

.kona-info li {
    margin: 20px 15px;
    text-align: justify;
}

@media only screen and (min-width: 501px) {
    .article {
        flex-direction: row;
        border-radius: 20px 20px 5px 5px;
        height: 21em;
    }
    .article--image {
        width: 50%;
        height: 100%;
    }
    .article--body {
        width: 50%;
        height: 100%;
        padding: 0;
        border-radius: 0px 20px 5px 0px;
    }
    .article--title {
        font-size: 1.4em;
        margin-bottom: 1em;
        margin-left: 0.75em;
        margin-right: 0.5em;
    }
    .article--description {
        font-style: initial;
        font-size: 1em;
        margin-bottom: 1.8em;
        margin-left: 1em;
        margin-right: 0.5em;
    }
    .article--rating {
        margin-bottom: 1.8em;
        margin-left: 1em;
        margin-right: 0.5em;
    }
    .article--rating__total {
        font-size: 1.1em;
        margin-right: 0.5em;
    }
    .article--price {
        margin-left: 1em;
        margin-right: 0.5em;
        font-size: 1.3em;
    }
    .article--cta {
        bottom: 1em;
        right: 1em;
    }
}

@media only screen and (min-width: 780px) {
    .articleContainer {
        flex-direction: row;
        flex-wrap: wrap;
		justify-content: center;
        padding: 0 1em;
    }
    .article {
        flex-direction: column;
        width: 20em;
        height: 30em;
    }
    .article--image {
        width: initial;
        height: 65%;
    }
    .article--body {
        height: 35%;
        width: initial;
        padding: 1em 1em 0.5em 1em;
        border-radius: 0px 0px 5px 5px;
    }
    .article--title {
        font-family: roboto-black;
        font-size: 1.3em;
        margin-left: initial;
        margin-right: initial;
        margin-bottom: 0.2em;
    }
    .article--description {
        font-size: 1.1em;
        margin-left: initial;
        margin-right: initial;
        margin-bottom: 0.8em;
    }
	.article--rating {
		margin-bottom: 0.8em;
		margin-left: initial;
		margin-right: initial;
	}
	.article--rating__stars {
		margin-top: initial;
		margin-right: initial;
	}
	.article--rating__total {
		font-size: 1em;
        margin-right: initial;
	}
	.article--price {
        margin-left: initial;
        margin-right: initial;
        font-size: 1.2em;
    }
	.article--cta {
        bottom: .5em;
        right: .5em;
    }
}

/*REVIEWS*/
.customer-reviews h2 {
    color: black;
    font-weight: bold;
    text-align: start;
    font-family: roboto-bold;
    margin: 40px;
    font-size: 1em;
}
.review {
    background-color: white;
    padding: 1em;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review p {
    margin: 10px;
    text-align: justify;
}
.reviewer {
    font-style: italic;
    color: #555;
    display: inline-block;
    margin-right: 10px;
}

.article--rating__stars {
    display: inline-block;
}

/*FORMS*/
.container {
    width: 350px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    color: #333;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 1em;
    font-size: 1em;
    color: #333;
  }

  input,
  textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  button {
    background-color: #112d4e;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
  }

  button:hover {
    background-color: #335379;
  }

.container h2 {
    color: black;
    font-family: roboto-bold;
    margin: 20px;
    font-size: 1em;
    text-align: center;
}

/* FOOTER */
.footer {
    background-color:#112d4e;
    color: white;
    padding: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer--items {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.footer--items__single-text {
    cursor: pointer;
    position: relative;
    text-align: center;
}

.footer--items__single {
    text-align: center;
    position: relative;
    cursor: pointer;
}

.footer--items__single img {
    border-radius: 50%;
    border: 2px solid #fff;
}

.footer--items__single-text:hover::after {
    border-bottom: 2px solid white;
    bottom: -5px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
}

.footer--social-items {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.social-icon img {
    width: 30px;
    height: 30px;
}

.social-icon {
    margin: 0 10px;
}
